<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Hackthon
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no")

  body
    section#show
      | Loading...
    script(src="/show.js")
